.collectionitem {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    height: 350px;
    margin-left: 40px;
}

.image {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 2px;
    padding-right: 20px;
    border: 3px solid black;
}

.footer .price {
    text-align: right;
    margin-left: 50px;
    margin-bottom: 8px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .name {
    padding-right: 50px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}